<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add Manager</title>
</head>
	<body>
 Add Manager
 <div class="container">
	 	<form action="#" th:action="@{/manager/register}" th:object="${manager}" method="POST">
			 Workplace ID
			<input type="text" name="workplaceId" required>
			<br>
			   Name : <input type="text" th:field="*{name}" name="name"/>
		      <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
		      <br>
  		  Email : <input type="text" th:field="*{email}"name="email"/>
			          <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
			      <br>
   			        
			 Password <input type="text" name="password" required> <br>
			 
			 <input type="submit" value="Register" />
		</form>
		</div>
	</body>
</html>