<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><head>
<meta charset="UTF-8">
<title>Add Employee</title>
</head>
	<body>
 Add Employee
 <div class="container">
	 	<form action="#" th:action="@{/employee/register}" th:object="${user}" method="POST"> 
			 Workplace ID
			<input type="text" name="workplaceId" required>
			<br>
			   Name : <input type="text" th:field="*{name}" name="name"/>
		      <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
		      <br>
  		  	   Email : <input type="text" th:field="*{email}"name="email"/>
			          <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red;"></span>
			          <span th:text="${exist_email}" style="color:red;"></span>
			      <br>
   			        
			   Password <input type="text" th:field="*{password}" name="password" required> <br>
			 
			 <input type="submit" value="Register" />
		</form>
		</div>
	</body>
</html>