<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <link th:href="@{/css/form.css}" rel="stylesheet" />
      <head>
         <meta charset="UTF-8">
         <title>Register as Employee</title>
   </head>
   <body>
      <div class="container">
         <h1>Register as <em>Employee</em></h1>
         <form action="#" th:action="@{/employee/register}" th:object="${user}" method="POST"> 
            <label>Workplace ID</label>
            <input type="text" name="workplaceId" required>
            <br>
            
            <label>Full Name </label>
            <input type="text" th:field="*{name}" name="name"/>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            <br>
            
            <label>Email</label> 
            <input type="text" th:field="*{email}"name="email"/>
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red;"></span>
            <span class="msg-exist" th:text="${exist_email}"></span>
            <br>
            
     		<label> Phone Number </label>
	        <input type="tel" th:field="*{phone}" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Please type with the format, 123-456-7890 (include - dash)"/></br>
	        <br>
                 
            <label>Password</label> 
            <input type="text" th:field="*{password}" name="password" required> <br>
            <input class="btn-register" type="submit" value="Register" />
         </form>
      </div>
   </body>
</html>