<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <header id="header" th:fragment="hd">
      <head>
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
         <meta charset="ISO-8859-1">
         <link rel="stylesheet" type="text/css" href="/css/header.css">
      </head>
      <body>
         <div class="content-container">
            <nav class="navbar navbar-expand-sm navbar-light bg-primary mb-2">
               <img class="logo" src="../image/SP_logo_white.png"  >
               <a class="brand" href="/" style=" font-weight: 300; font-size: 30px; text-decoration: none;
               ">TIMESTAMP </a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="true">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse">
                  <ul class="navbar-nav ml-auto">
                     <li class="nav-item">
                        <a class="my-emp"  th:href="@{/manager/employees}"> My Employees</a>
                     </li>
                     <li>
                        <a class="block" style="color: black; margin-top:50px;">|</a>              
                     </li>
                     <li class="nav-item">
                        <form th:action="@{/logout}" method="post">
                           <input class="btn-signout" type="submit" value="Sign Out"/>
                        </form>
                     </li>
                  </ul>
               </div>
            </nav>
         </div>
   </header>
   </body>
</html>