<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
   <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
	<a th:href="@{/login}"> Login</a>

	<p>Click <a th:href="@{/hello}">here</a> to see a greeting</p>
 	<li>
		<a th:href="@{/users}"> Users</a>
	</li> 	
	
 	<li>
		<a th:href="@{/timestamps}"> Timestamps</a>
	</li> 
		
 	<li>
		<a th:href="@{/add/timestamp}"> Add TimeStamp</a>
	</li> 


 	<li>
		<a th:href="@{/manager/register}"> Register as Manager</a>
	</li> 
 	<li>
		<a th:href="@{/employee/register}"> Register as Employee</a>
	</li> 
	
	<p><p>
	
	 <li>
		<a th:href="@{/manager/employees}"> My Employee</a>
	</li> 		
</body>
</html>