<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
   xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
   <head>
      <title>Spring Security Example </title>
      <link th:href="@{/css/login.css}" rel="stylesheet" />
   </head>
   <body>
      <div class="container">
         <h1>Login</h1>
         <form th:action="@{/login}" method="post">
            <label> Email </label>
            <p/>
               <input type="text" name="email"/> 
            <p/>
               <label> Password </label>
            <p/>
               <input type="password" name="password"/> 
            <p/>
               <input type="submit" value="Sign In"/>
         </form>
         <div class="wrong-auth" th:if="${param.error}">
            Invalid username and password.
         </div>
         <div class="out-auth" th:if="${param.logout}">
            You have successfully logged out.
         </div>
         <hr/>
         <div class="register">
            Register as
            <a class="btn-employee" th:href="@{/employee/register}"> Employee</a> 
            <a class="btn-manager" th:href="@{/manager/register}">Manager</a> 
         </div>
      </div>
   </body>
</html>